@model IEnumerable<todo_list.Models.TaskToDo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id= item.TaskID }) |
                @Html.ActionLink("Details", "Details", new { id= item.TaskID }) |
                @Html.ActionLink("Delete", "Delete", new { id= item.TaskID })
            </td>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
            </td>
        </tr>
}
    </tbody>
</table>
